@{
    Layout = null;
    ViewBag.Title = "NewPuzzleRun";
}

@model MvcApplication1.Models.BulbPuzzleModel

<h2>New Puzzle Run</h2>

@using (Html.BeginForm()) {
    <fieldset>
        @*<legend>BulbPuzzleModel</legend>*@

        <div class="editor-label">
            @Html.LabelFor(m => m.NumberOfPeople)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.NumberOfPeople)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => Model.NumberOfBulbs)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.NumberOfBulbs)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => Model.NumberOfBulbsOn)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(m => Model.NumberOfBulbsOn)
        </div>

        <p><input type="submit" value="Submit" /></p>
    </fieldset>
}

@*
<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form action="/Home/Form" method="post">
            <input type="number" name="numberOfPeople" />
            <input type="number" name="numberOfBulbs" />

            <input type="submit" value="Submit" />
        </form>    
    </div>
</body>
</html>*@
